.chat-main {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    height: 100%;
}

.testmessage{
    display: block;
    overflow-x:hidden;
    overflow-y: scroll;

    height: 65%;
    width: 100%;
}
.avatar-uploader{
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}
