.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.wechat {
  margin: 30px auto;
  width: 900px;
  height: 650px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(21,22,26,0.33);
  border: 1px solid #cfcfcf;
  background-color: rgba(0,0,0,0.8);
}
